on:
  push:
    branches: 
    - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    
    - uses: azure/docker-login@v1
      with:
        login-server: dockeregistry007.azurecr.io
        username: ${{ secrets.acr_dockeregistry007_username }}
        password: ${{ secrets.acr_dockeregistry007_password }}
    
    - name: Build and push image to ACR
      id: build-image
      run: |
        docker build "$GITHUB_WORKSPACE/" -f  "Dockerfile" -t dockeregistry007.azurecr.io/aksrdcitestlds:${{ github.sha }} --label dockerfile-path=Dockerfile
        docker push dockeregistry007.azurecr.io/aksrdcitestlds:${{ github.sha }}
    
    - uses: azure/k8s-set-context@v1
      with:
         kubeconfig: ${{ secrets.aks_aksrdcitestlds_kubeConfig }}
      id: login
    
    - name: Create namespace
      run: |
        namespacePresent=`kubectl get namespace | grep aksrdcitestldsa8da | wc -l`
        if [ $namespacePresent -eq 0 ]
        then
            echo `kubectl create namespace aksrdcitestldsa8da`
        fi

    - uses: azure/k8s-create-secret@v1
      with:
        namespace: aksrdcitestldsa8da
        container-registry-url: dockeregistry007.azurecr.io
        container-registry-username: ${{ secrets.acr_dockeregistry007_username }}
        container-registry-password: ${{ secrets.acr_dockeregistry007_password }}
        secret-name: aksrdcitestldockerauth
       
    - uses: azure/k8s-deploy@v1.2
      with:
        namespace: aksrdcitestldsa8da
        manifests: |
          manifests/deployment.yml
          manifests/service.yml
          manifests/ingress.yml
        images: |
          dockeregistry007.azurecr.io/aksrdcitestlds:${{ github.sha }}
        imagepullsecrets: |
          aksrdcitestldockerauth
